@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Login</h1>

<form asp-action="Login" method="post">

    <div class="text-danger" asp-validation-summary="All"></div>

    <input type="email" asp-for="Email" placeholder="Email" class="form-control" class="form-control">
    <span asp-validation-for="Email"></span>
    <br />
    <input type="password" asp-for="Password" placeholder="Password" class="form-control" class="form-control">
    <span asp-validation-for="Password"></span>
    <br />
    <div class="form-group d-flex align-items-center">
        <input asp-for="RememberMe"
               type="checkbox"
               class="form-check-input me-2"
               id="rememberMe">
        <label for="rememberMe" class="form-check-label">
            Keep Me Signed In
        </label>
    </div>

    <input type="submit" value="Login" class="btn btn-secondary">
</form>
<p class="text-white">Don't have an Account? <a asp-action="SignUp"> SignUp Now!</a></p>
<br />
<p class="text-white"><a asp-action="ForgetPassword"> Forget Password!</a></p>
